body,
html {
  background: linear-gradient(
    -47.62deg,
    rgba(61, 6, 95, 1) 0%,
    rgba(18, 5, 78, 1) 100%,
    rgba(16, 5, 77, 1) 100%
  );
  background-repeat: no-repeat;
}

.App {
  background: inherit;
  height: 100vh;
  color: white;
  padding: 90px 8%;
  margin: 0 auto;
  font-size: 12px;
  overflow-x: hidden;
  box-sizing: border-box;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}
.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}
nav {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
