body {
  background-color: #465461;
}
.App {
  background-color: #465461;
  color: white;
  padding: 90px 8%;
  margin: 0 auto;
  font-size: 12px;
  overflow-x: hidden;
  box-sizing: border-box;
}
.embla__viewport {
  overflow: hidden;
  width: 100%;
}
.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}
nav {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
